* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  width: 240px;
  height: 50px;

  border-radius: 10px;

  font-size: 16px;
  font-family: Arial, sans-serif;
}

input {
  padding: 15px;
  margin: 5px;

  border: 3px solid cyan;
  background: black;
  color: white;
}

input:focus {
  outline: none;
}

input:hover {
  box-shadow: 0 0 45px rgb(0 255 255);
}

input::placeholder {
  color: white;
}

button {
  margin-top: 5px;

  border: none;

  background: cyan;
  color: black;

  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 25px rgb(0 255 255);
}

h1 {
  color: white;
  transition: 0.3s;
}

h1:hover {
  transform: scale(1.2);
}
